{% extends "base.html" %}
{% block title  %}Connexion{% endblock %} 
{% block bodyId %}loginPage{% endblock %}
{% block content %}
<form action="login" method="POST">
    {%  if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
        <label for="email">Adresse mail :</label>
        <input name="email" id="email" size="30" type="email" />
    </p>
    <p>
        <label for="password">Mot de passe :</label>
        <input name="password" id="password" size="30" type="password" />
    </p>
    <p>
        <input type="submit" value="Se connecter"></label>
        <a href=" ">Créer un compte</a>
    </p>
</form>
{% endblock %}