<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Création d'un profil</title>
</head>
<body>
    <h1>Création d'un compte</h1>
    <form action="register" method="post">
    <p>{{ form.first_name.label }} {{ form.first_name() }}</p>
    <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
    <p>{{ form.birth_date.label }} {{ form.birth_date() }}</p>
    <p>{{ form.matricule.label }} {{ form.matricule() }}</p>
    <p>{{ form.email.label }} {{ form.email() }}</p>
    <p>{{ form.phone.label }} {{ form.phone() }}</p>
    <p>{{ form.mobile_phone.label }} {{ form.mobile_phone() }}</p>
    <p>{{ form.password.label }} {{ form.password() }}</p>
    <p>{{ form.faculte.label }} {{ form.faculte() }}</p>
    <p>{{ form.cursus.label }} {{ form.cursus() }}</p>
    <p>{{ form.annee.label }} {{ form.annee() }}</p>
    <p>{{ form.campus.label }} {{ form.campus() }}</p>
    <p>{{ form.fonction.label }} {{ form.fonction() }}</p>

    <p><input type="submit" value="Créer un compte" /></p>
</form>
</body>
</html>
